body {
  background-color: #e8e8e8;
  font-family: 'IBM Plex Mono', monospace;
}

.header {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 0 auto;
  width: 700px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 2px solid blue;
}

.controls {
  display: flex;
  margin-bottom: 20px;
  margin-top: 10px;
  border: 2px solid red;
}

h3{
  margin-top: 20px;
  margin-bottom: 5px;
  text-align: center;
}

p {
  text-align: center;
  font-size: 14px;
  margin: 0;
}
/* #slider,
#style {
  margin: 0 10px;
} */

#style,
#pen {
  width: 30px;
}

h1 {
  font-size: 52px;
  font-weight: 700;
  margin: 0;
  color: #0D1282;
}

.containerGrid {
  background-color: rgb(255, 255, 255);
  width: 700px;
  height: 700px;
  display: flex;
  margin: 0 auto;
  flex-flow: row wrap;
}

.divElement {
  flex: 1;
  margin: 0;
}

.colored {
  opacity: 1;
}

#canvaContainer {
  display: flex;
  flex-direction: row;
  overflow-y: auto;
  width: 820px;
  height: 220px;
  margin: 0 auto;
  align-items: center;
  margin-top: 20px;
}

canvas {
  margin: 0 5px;
  box-shadow: 3px 3px 5px 1px rgb(200, 200, 200);
}

#snapshot {
  font-size: 16px;
  font-weight: bold;
  width: 120px;
  height: 30px;
}