body {
  background-color: #e8e8e8;
  font-family: 'IBM Plex Mono', monospace;
}

.header {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 0 auto;
  width: 700px;
  margin-top: 10px;
  margin-bottom: 20px;
  /* border: 2px solid blue; */
}

.controls {
  display: flex;
  margin-bottom: 10px;
  margin-top: 5px;
  width: 700px;
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid red; */
}

label {
  font-size: 18px;
  margin-top: 2px;
}

.control-item {
  display: flex;
  justify-content: center;
}

h3{
  margin: 0;
  text-align: center;
}


p {
  text-align: center;
  font-size: 14px;
  margin: 0;
}
/* #slider,
#style {
  margin: 0 10px;
} */

#style,
#pen {
  width: 50px;
}

h1 {
  font-size: 64px;
  font-weight: 700;
  margin: 0;
}

h1:hover {
  color: #fcbc0c;
}

.containerGrid {
  background-color: rgb(255, 255, 255);
  width: 700px;
  height: 700px;
  display: flex;
  margin: 0 auto;
  flex-flow: row wrap;
}

.divElement {
  flex: 1;
  margin: 0;
}

.colored {
  opacity: 1;
}

#canvaContainer {
  display: flex;
  flex-direction: row;
  overflow-y: auto;
  width: 900px;
  height: 220px;
  margin: 0 auto;
  align-items: center;
  margin-top: 10px;
}

canvas {
  margin: 0 5px;
  box-shadow: 3px 3px 5px 1px rgb(200, 200, 200);
}

#snapshot {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 20px;
  width: 120px;
  height: 35px;
  margin-left: 30px;
  border: none;
  background-color: #fcbc0c;
  box-shadow: 3px 3px 5px 1px rgb(200, 200, 200);
}

#snapshot:hover {
  background-color: #edb419;
  cursor: pointer;
}

#controls-gallery {
  display: flex;
  width: 700px;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  margin-top: 20px;
}



.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #fcbc0c;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #fcbc0c;
  cursor: pointer;
}

footer {
  height: 60px;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer p {
  font-size: 16px;
}